[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.0.1"

[packages]
inject = "==3.5.1"
flask = "==1.1.1"
gunicorn = "==19.9.0"
cachetools = "==3.1.1"
geopy = "==1.20.0"
pymongo = "*"
python-redis-cache = "*"
redis = "*"
cachelib = "*"
mongoengine = "==0.15.3"

[requires]
python_version = "3.6"
